 html {
     background: rgb(238, 174, 202);
     background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
     -webkit-user-select: none;
     user-select: none;
 }

 /* div Raiz */
 .div__padre {
     display: flex;
     justify-content: center;
 }

 /* div Principal */
 .div__principalcontainerh1 {
     background-color: rgba(255, 255, 255, 0.576);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     width: 500px;
     border-radius: 20px;
    }
    
    .img__appleLogo{
       width: 70px;
    
    }
    .h1__titulo {
        color: gray;
        text-align: center;
        font-family: sans-serif;
    
    }
 
 /* Textarea */
 .textarea__tarea {
     width: 80%;
     height: 50px;
     border-radius: 30px;
     border: solid;
     resize: none;
     margin-bottom: 20px;
     line-height: 50px;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-size: 18px;
     font-weight: 600;
     border: solid;
     border-width: 2px;
     border-color: rgb(202, 202, 202);
     color: gray;
 }

 .textarea__tarea::placeholder {
     font-family: 'Montserrat', sans-serif;
     color: rgb(134, 134, 134);
     text-align: center;
     font-size: 18px;
     font-weight: 600;
    }
    .textarea__tarea:focus{
     color: rgb(0, 0, 0);
    outline-color: rgb(117, 117, 117);
    outline-style: solid;
}
/* Boton agregar tarea*/
 
 .button__agregarDiv {
     border-radius: 20px;
     width: 270px;
     margin-bottom: 20px;
     height: 45px;
     background-color: rgba(195, 195, 195, 0.598);
     border-width: 2px;
     border-color: rgb(187, 187, 187);
     font-family: sans-serif;
     font-size: 19px;
     font-weight: 500;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .img__agregarTarea{
    margin-left: 10px;
    width: 30px;
 }
 /* Inicio de los divs Hijos */
 .div__containerHijo {
     display: flex;
     justify-content: space-between;
     width: 450px;
     border-radius: 30px;
     background-color: rgb(255, 255, 255);
     margin-bottom: 20px;
     align-items: center;
     
    }
 .h1__titulohijo {
     font-family: sans-serif;
     color: rgb(80, 80, 80);
     text-align: center;
     margin-left: 5px;
 }

 .button__borrarTarea {
    border: none;
     height: 50%;
     margin-right: 5px; 
     background-color: rgb(255, 255, 255);
 }
 .img__basuraLogo{
    width:35px;
}
.img__basuraLogo:hover{
    transition: all 300ms ease-in-out;
     width:38px;
     cursor: pointer;

 }